
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
.card {
    margin-bottom: 20px;
    border: none;
}

.box {

    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
}

.box input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 50%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


.box input:focus {
    width: 100%;
    border-color: #2ecc71;
}

.box .btn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box .btn:hover {
    background: #2ecc71;
}

.invalid {
    border: 1px solid #e87777;
  }

.forgot {
    text-decoration: underline;
}



@media (max-width: 696px) {

    .box {

    width: 200px;
    margin-right: 200px;
      
    }
    
}